In [ ]:
import time
from watchdog.observers import Observer
from watchdog.events import FileSystemEventHandler, PatternMatchingEventHandler
import duckdb
import pathlib
import pandas as pd
import numpy as np
import random
from pandas_profiling import ProfileReport

def data_quality(df):
    profile = ProfileReport(df, title="Profiling Report")
    profile.to_widgets()

sleeping_time = 10

while True:
    offset = random.randint(0, 9)
    try:
        conn_expl = duckdb.connect(database=str(pathlib.Path().resolve().parent) + '/exploitation/my-db.duckdb', read_only=False)
        conn_trusted = duckdb.connect(database=str(pathlib.Path().resolve().parent) + '/trusted/my-db.duckdb', read_only=False)
        trusted_cursor = conn_trusted.cursor()
        # merge tables
        df = trusted_cursor.execute("SELECT * FROM student INNER JOIN countrycode on student.country = countrycode.country INNER JOIN IQ on countrycode.country_name = IQ.country").df()
        conn_expl.execute(f"CREATE OR REPLACE TABLE dataset AS SELECT * FROM df")
        pandas_profiling(df)

    except BaseException as error:
        print(error)
        print("Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D")
        
    finally:
        conn_expl.close()
        conn_trusted.close()
        time.sleep(sleeping_time + offset)

Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D
Could not lock the file, someone is accessing it right now. Retrying shortly... Nobody likes race conditions :D

In [27]:
conn_expl = duckdb.connect(database=str(pathlib.Path().resolve().parent) + '/exploitation/my-db.duckdb', read_only=False)
df = conn_expl.execute(f"SELECT * FROM DATASET").df()
conn_expl.close()
df

,year,country,school_id,student_id,mother_educ,father_educ,gender,computer,internet,math,...,car,book,wealth,escs,country_2,country_name,rank,country_3,finalIq,pop2021
0,2015,BRA,7600776,7607309,ISCED 3A,ISCED 3A,male,yes,yes,285.474,...,0,0-10,-1.2311,-0.6686,BRA,Brazil,81,Brazil,85,213993.437
1,2015,BRA,7600776,7628979,"ISCED 3B, C","ISCED 3B, C",male,yes,yes,418.248,...,2,201-500,0.9886,1.0189,BRA,Brazil,81,Brazil,85,213993.437
2,2015,BRA,7600776,7622956,ISCED 2,ISCED 3A,female,yes,yes,195.820,...,0,11-25,-1.519,-1.491,BRA,Brazil,81,Brazil,85,213993.437
3,2015,BRA,7600776,7601198,ISCED 3A,ISCED 3A,female,yes,yes,420.152,...,1,0-10,-0.2476,-0.3378,BRA,Brazil,81,Brazil,85,213993.437
4,2015,BRA,7600776,7615894,ISCED 1,less than ISCED1,female,no,yes,351.044,...,1,more than 500,-0.9626,-0.4592,BRA,Brazil,81,Brazil,85,213993.437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431285,2015,GBR,82650109,82654468,ISCED 3A,ISCED 3A,female,yes,yes,640.392,...,2,11-25,1.1876,0.6643,GBR,United Kingdom,14,United Kingdom,99,68207.116
431286,2015,GBR,82650109,82653067,ISCED 3A,ISCED 3A,female,yes,yes,568.223,...,1,201-500,0.4932,0.9365,GBR,United Kingdom,14,United Kingdom,99,68207.116
431287,2015,GBR,82650109,82651934,ISCED 2,ISCED 2,female,yes,yes,553.587,...,3+,11-25,2.1047,-0.4144,GBR,United Kingdom,14,United Kingdom,99,68207.116
431288,2015,GBR,82650109,82652209,ISCED 3A,ISCED 3A,female,yes,yes,536.515,...,2,101-200,1.7227,1.3572,GBR,United Kingdom,14,United Kingdom,99,68207.116
431289,2015,GBR,82650109,82654177,ISCED 3A,"ISCED 3B, C",female,yes,yes,413.326,...,2,26-100,0.1245,1.1504,GBR,United Kingdom,14,United Kingdom,99,68207.116